.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.gallery-carousel {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: calc(100% - 80px);
}

.image-section {
    flex: 1 0 calc(33.333% - 20px);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 4 / 3;
    transition: transform 0.3s ease;
}

.carousel-container .image-section {
    border-radius: 10px;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
    user-select: none;
}

.image-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.image-section:hover::before {
    opacity: 1;
}

.overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-section:hover .overlay-icon {
    opacity: 1;
}

.search-icon {
    color: white;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 5px;
    border-radius: 20px;
}

.nav-btn {
    font-size: 40px;
    background: white;
    border: none;
    cursor: pointer;
    z-index: 5;
    transition: background 0.3s ease;
}


.gallery-carousel.one-image-only {
    justify-content: center;
}

.gallery-carousel.one-image-only .image-section {
    flex: 0 0 100%;
    max-width: 600px;
}
