
.footer {
    background-color: #2f2f2f;
    padding: 40px 100px;
    color: #fff;
    flex: 1;
    position: relative;
    z-index: 2; 
  }
  
  .footer-container {
    width: 100%;
    max-width: 1200px;    
    margin: 0 auto; /* centers the content */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  
  
  .footer-column {
    flex: 1;
    
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: 100;
  }
  
 

  .footer-column p {
    margin: 20px 0;
    font-size: 11px;
    display: block;
  }

  .footer-column p:hover{
    color: rgb(175, 175, 175);
  }

  
  .logo-column .logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .address {
    margin-top: 10px;
    font-size: 13px;
  }
  
  .icon {
    margin-right: 5px;
  }

  .footer-container p.title{
    font-size: 10px;
    margin-bottom: 30px;
  }

  .logo-column{
    padding-right: 50px;
    max-width: 300px;
    width: 100%;
  }
  
  .logo-column i{
    margin-right: 10px;
  }

  .logo-column p{
    
      font-size: 11px;
      margin: 0px;

    

  }
  .address strong{
    border-bottom: 1px solid white;
    max-width: 250px;
    width: 100%;
    margin: 20px 0px 10px 0px;
   
    display: block;
  }