header {
  position: sticky;
  top: 0;
  z-index: 1000; 
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; 
  }
  
  /* Top Bar */
  .top-bar {
    background-color: #1a1a1a;
    color: #fff;
    padding: 15px 110px;
    font-size: 14px;
  }
  
  /* Main Nav */
  .main-nav {
    background-color: #0f0f0f;
    padding: 10px 100px 25px;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  
  .nav-links li {
    position: relative;
  color: white;
  font-size: 17px;
  cursor: pointer;
  list-style: none;

  }

  .nav-links li:hover{
    color: #aa0a0aed;
  }
  
  .nav-links li.active {
    color: #aa0a0aed;
    font-weight: bold;
  }
  
  .nav-links .dropdown {
    font-size: 10px;
    margin-left: 5px;
  }
  
  /* Social & Contact */
  .social-icons a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }
  
  .contact-info span {
    margin-left: 20px;
  }

  a{
    font-weight: 600;
    text-decoration: none;
    color: white;
  }

  a:hover{
   color: #aa0a0aed;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 42px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: -10 !important;
    text-align: center;
    margin-left: -35px !important;
  }

  .dropdown-menu li{
    color: gray;
    padding: 15px;
    background-color:white ;
    font-size: 15px;
  }

  .dropdown-menu li:hover{
    color: white;
    background-color: #aa0a0aed;
  }

  .nav-links li:hover .dropdown-menu {
    display: block;
  }
  
/* /////////////////////////// */

.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.top-call-us, .mobile-nav{
  display: none;
}


/* Responsive Styles */
@media screen and (max-width: 648px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: #0f0f0f;
    margin-top: 15px;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    width: 100%;
    padding: 12px 20px;
    border-top: 1px solid #333;
  }

  .dropdown-menu {
    position: relative;
    box-shadow: none;
    margin-left: 0 !important;
    padding-top: 10px;
    display: none;
    z-index: 0 !important;
  }

  .nav-links li:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu li {
    background-color: #1a1a1a;
    color: white;
  }

  .top-bar{
    padding: 15px;
  }
  .top-inner{
    display: none;
  }
  .nav-inner{
    display: none;
  }


.top-call-us{
  display: block;
  margin: auto;
  font-size: 14px;
  text-align: center;
  position: sticky;


}

.mobile-nav{
  display: flex;
}
}