

   .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
  }
  
  .close {
    position: absolute;
    top: 130px;
    right: 80px;
    font-size: 70px;
    color: white;
    cursor: pointer;
    z-index: 1000;
  }
  
  .modal-main-image {
    position: relative;
    max-width: 100%;
    max-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  .modal-main-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
  
  .nav-button {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }

  .modal-main-image .nav-button{
    color: white !important;
  }
  
  .nav-button.left {
    position: absolute;
    left: -60px;
  }
  
  .nav-button.right {
    position: absolute;
    right: -60px;
  }
  
  .thumbnail-row {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(41, 41, 41, 0.658);
    width: 1200px;
  }
  
  .thumbnail {
    width: 80px;
    height: 60px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .thumbnail.active {
    border: 2px solid #fff;
    box-shadow: 0 0 8px white;
  }
  