.review-slider {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.filter-tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  background-color: rgb(248, 248, 248);
  width: 1200px;
}

.filter-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.filter-button.active {
  border-bottom: 2px solid black;
}

.review-row {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-button {
  
  border: none;
  font-size: 30px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: red !important;
  height: 10px;
}



.review-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.review-card {
  min-width: 200px;
  max-width: 220px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #f8f8f8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.review-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  justify-content: center !important;
}

.review-header img {
  width: 18px;
  height: 18px;
}

.stars {
  color: #f7dc6f;
  margin-bottom: 8px;
}

.read-more {
  color: #007bff;
  font-size: 12px;
  cursor: pointer;
}

.review-card img{
  margin-left: 10px;
  height: 30px;
  width: 30px;
}

.filter-tabs img{
  height: 30px;
  width: 30px;
}

.nav-button.right{
  color: black !important;

}
.nav-button.left{
  color: black !important;
}

