.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    padding: 40px;
    margin-top: -20px;
    width: 1200px;
  }
  
  .video-item {
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  